body{
  margin: 300px;
  /*background-image: url('https://wallpapercave.com/wp/wp8255146.jpg');*/
  background-image: url('https://cdn.sanity.io/images/hpvpbfax/production/08b2b076d53dbe0d1aef7f4e1579f3a37dd321db-1920x1080.gif?w=2048&auto=format');
  font-size: 1.2em;
  background-attachment: fixed;

}
